.ReturnButton {
  background-color: black;
  color: whitesmoke;
  padding: 0.5% 3.5%;
  display: inline-block;
  font-size: medium;
}

.ReturnButton:hover {
  background-color: lightblue;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
  transform: rotate(15deg);
}
