body {
  background-color: darkgrey;
}

.ArticlesTitle {
  width: 30%;
  height: 30%;

  margin: 0 35%;

  text-align: center;
  font-size: 500%;
}

.ArticlesLinkButton {
  background-color: darkgray;

  width: 30%;
  height: 35px;

  border-radius: 10%;

  margin: 1% 0;

  font-size: 170%;
}

.ArticlesLinkButton:hover {
  background-color: white;
}

@media screen and (max-width: 780px) {
  .ArticlesTitle {
    width: 30%;
    height: 30%;

    margin: 0 30%;

    text-align: center;
    font-size: 300%;
  }
}
