body {
  background: linear-gradient(to right, #e66465, #9198e5);
}

.BlogTitle {
  font-size: 700%;
  margin: 0 30%;
}

.UpMenuButton {
  background: linear-gradient(to left, #cc33ff, #600080);
}

.LatestArticlesHeader {
  font-size: 275%;
}

@media screen and (max-width: 780px) {
  .BlogTitle {
    font-size: 250%;
    margin: 0 10%;
  }

  .UpMenuButton {
    background-color: dimgrey;
  }

  .LatestArticlesHeader {
    font-size: 150%;
  }
}
