body {
    background-color: rgb(117, 43, 145);
    color: white;
    font-family: 'Times New Roman', Times, serif';
}

header{
    display: flex;
    justify-content: center;

    font-size: 2rem;
}

#main-site-goals{
    font-size: 200%;
}

.goal-point{
    font-size: 160%;
}

.goal-text{
    font-size: 130%;
}