body {
  background-color: rgb(117, 43, 145);
  font-family: 'Times New Roman', Times, serif;
}

main {
  display: flex;
  justify-content: center;
}

.article-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #98FFEB;
  margin-bottom: 5px;

  font-size: 1.2rem;
  border-radius: 5%;

  width: 20rem;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  height: 15vh;
  width: 13vh;
}


.article-selector-header {
  height: 2vh;
}

.go-to-articles-button {
  display: block;
  margin: 0 auto;

  background-color: #5D3A9B;
  color: #ffffff;
  border-style: none;
  font-size: 80%;
  height: 4vh;
  width: 20vh;
  border-radius: 8%;

  margin-top: 2%;
  margin-bottom: 3%;

  transition: background-color 0.2s;
}

.go-to-articles-button:hover {
  background-color: rgb(12, 108, 187);
}

header {
  display: flex;
  justify-content: center;

  color: white;
  font-size: 2em;
}