body {
  background-color: #c9c8c3;
}

#MainSiteTitle {
  color: black;

  text-align: center;

  padding: 3%;
  font-size: 500%;
}

#frameofLatestArticles {
  background-color: #474a48;
  width: 50%;
  height: 500px;
  margin: auto;
  justify-content: center;
}

#LatestArticlesHeader {
  color: white;

  text-align: center;
  font-size: 500%;
}

nav {
  background-color: darkred;
  padding: 2%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li a {
  color: white;
  text-decoration: none;

  padding: 14px 20px;
  display: block;

  font-size: 150%;
}

nav ul li a:hover {
  background-color: teal;
}

label {
  font-size: 150%;
}

select {
  font-size: 100%;
  background-color: #474a48;
  color: white;
}

button {
  font-size: 100%;
  background-color: #474a48;
  color: white;
}
